body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
footer {
  position: sticky;
}

.col.s12 > .btn {
  width: 100%;
}

.clickme {
  cursor: pointer;
}

/* Pads the buttons on the groups page for mobile. */
.button-pad {
  margin-bottom: 10px;
}

/* Icons for adding/editing groups are the right size. */
.action-icon {
  font-size: 3rem;
}
